mule-module-async-vm/src/main/resources/META-INF/mule-async-vm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/async-vm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/async-vm"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.4/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.4/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Non-blocking in-memory processing
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>VM</schemadoc:short-name>
            <schemadoc:page-title>VM Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>


    <!-- VM Module -->

    <xsd:element name="memory-source" type="memoryMessageSourceType" substitutionGroup="mule:abstract-message-source">
        <xsd:annotation>
            <xsd:documentation>
                An in-memory message source.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="memoryMessageSourceType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageSourceType">
                <xsd:attribute name="store-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the object store where the data is collected until processed
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>